body{
    background-image: url(pess.png);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}

h1{
    font-size: 15px;
}

button {
    background: #0994e4;
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    color: antiquewhite;
}

button:hover{
    opacity: 0.85;
}

.container{
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

}

.patch{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.item{
    margin-bottom: 5px;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}